openapi: 3.2.0
info:
  title: NetworkManagementClient Private Link Services API
  description: The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.
  version: '2025-03-01'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: PrivateLinkServices
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/privateLinkServices/{serviceName}
  : delete:
      tags:
      - PrivateLinkServices
      operationId: PrivateLinkServices_Delete
      description: Deletes the specified private link service.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: serviceName
        in: path
        required: true
        description: The name of the private link service.
        schema:
          type: string
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        '202':
          description: Accepted and the operation will complete asynchronously.
        '204':
          description: Delete successful.
        '200':
          description: Delete successful.
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-examples:
        Delete private link service:
          $ref: ./examples/PrivateLinkServiceDelete.json
      summary: Private link services delete
      x-summary-source: derived
    get:
      tags:
      - PrivateLinkServices
      operationId: PrivateLinkServices_Get
      description: Gets the specified private link service by resource group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: serviceName
        in: path
        required: true
        description: The name of the private link service.
        schema:
          type: string
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      - name: $expand
        in: query
        required: false
        description: Expands referenced resources.
        schema:
          type: string
      responses:
        '200':
          description: Request successful. The operation returns the resulting PrivateLinkService resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkService'
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
      x-ms-examples:
        Get private link service:
          $ref: ./examples/PrivateLinkServiceGet.json
      summary: Private link services get
      x-summary-source: derived
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/privateLinkServices:
    get:
      tags:
      - PrivateLinkServices
      operationId: PrivateLinkServices_List
      description: Gets all private link services in a resource group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Request successful. The operation returns a list of privateLinkService resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkServiceListResult'
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
      x-ms-examples:
        List private link service in resource group:
          $ref: ./examples/PrivateLinkServiceList.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Private link services list
      x-summary-source: derived
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/privateLinkServices:
    get:
      tags:
      - PrivateLinkServices
      operationId: PrivateLinkServices_ListBySubscription
      description: Gets all private link service in a subscription.
      parameters:
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Request successful. The operation returns a list of PrivateLinkService resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkServiceListResult'
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
      x-ms-examples:
        List all private list service:
          $ref: ./examples/PrivateLinkServiceListAll.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Private link services list by subscription
      x-summary-source: derived
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/privateLinkServices/{serviceName}/privateEndpointConnections/{peConnectionName}
  : get:
      tags:
      - PrivateLinkServices
      operationId: PrivateLinkServices_GetPrivateEndpointConnection
      description: Get the specific private end point connection by specific private link service in the resource group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: serviceName
        in: path
        required: true
        description: The name of the private link service.
        schema:
          type: string
      - name: peConnectionName
        in: path
        required: true
        description: The name of the private end point connection.
        schema:
          type: string
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      - name: $expand
        in: query
        required: false
        description: Expands referenced resources.
        schema:
          type: string
      responses:
        '200':
          description: Request successful. The operation returns the resulting private end point connection resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnection'
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
      x-ms-examples:
        Get private end point connection:
          $ref: ./examples/PrivateLinkServiceGetPrivateEndpointConnection.json
      summary: Private link services get private endpoint connection
      x-summary-source: derived
    put:
      tags:
      - PrivateLinkServices
      operationId: PrivateLinkServices_UpdatePrivateEndpointConnection
      description: Approve or reject private end point connection for a private link service in a subscription.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: serviceName
        in: path
        required: true
        description: The name of the private link service.
        schema:
          type: string
      - name: peConnectionName
        in: path
        required: true
        description: The name of the private end point connection.
        schema:
          type: string
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Update successful. The operation returns the resulting PrivateEndpointConnection resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnection'
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
      x-ms-examples:
        approve or reject private end point connection for a private link service:
          $ref: ./examples/PrivateLinkServiceUpdatePrivateEndpointConnection.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateEndpointConnection'
        description: Parameters supplied to approve or reject the private end point connection.
        required: true
      summary: Private link services update private endpoint connection
      x-summary-source: derived
    delete:
      tags:
      - PrivateLinkServices
      operationId: PrivateLinkServices_DeletePrivateEndpointConnection
      description: Delete private end point connection for a private link service in a subscription.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: serviceName
        in: path
        required: true
        description: The name of the private link service.
        schema:
          type: string
      - name: peConnectionName
        in: path
        required: true
        description: The name of the private end point connection.
        schema:
          type: string
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        '202':
          description: Accepted and the operation will complete asynchronously.
        '204':
          description: Delete successful.
        '200':
          description: Delete successful.
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
      x-ms-examples:
        delete private end point connection for a private link service:
          $ref: ./examples/PrivateLinkServiceDeletePrivateEndpointConnection.json
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      summary: Private link services delete private endpoint connection
      x-summary-source: derived
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/privateLinkServices/{serviceName}/privateEndpointConnections
  : get:
      tags:
      - PrivateLinkServices
      operationId: PrivateLinkServices_ListPrivateEndpointConnections
      description: Gets all private end point connections for a specific private link service.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: serviceName
        in: path
        required: true
        description: The name of the private link service.
        schema:
          type: string
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Request successful. The operation returns a list of private end point connection resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateEndpointConnectionListResult'
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
      x-ms-examples:
        List private link service in resource group:
          $ref: ./examples/PrivateLinkServiceListPrivateEndpointConnection.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Private link services list private endpoint connections
      x-summary-source: derived
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/checkPrivateLinkServiceVisibility:
    post:
      tags:
      - PrivateLinkServices
      operationId: PrivateLinkServices_CheckPrivateLinkServiceVisibility
      description: Checks whether the subscription is visible to private link service.
      parameters:
      - name: location
        in: path
        required: true
        description: The location of the domain name.
        schema:
          type: string
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Request successful. Returns whether the subscription is visible to private link service.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkServiceVisibility'
        '202':
          description: Accepted and the operation will complete asynchronously.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-examples:
        Check private link service visibility:
          $ref: ./examples/CheckPrivateLinkServiceVisibility.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckPrivateLinkServiceVisibilityRequest'
        description: The request body of CheckPrivateLinkService API call.
        required: true
      summary: Private link services check private link service visibility
      x-summary-source: derived
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/locations/{location}/checkPrivateLinkServiceVisibility
  : post:
      tags:
      - PrivateLinkServices
      operationId: PrivateLinkServices_CheckPrivateLinkServiceVisibilityByResourceGroup
      description: Checks whether the subscription is visible to private link service in the specified resource group.
      parameters:
      - name: location
        in: path
        required: true
        description: The location of the domain name.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Request successful. Returns whether the subscription is visible to private link service.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkServiceVisibility'
        '202':
          description: Accepted and the operation will complete asynchronously.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-examples:
        Check private link service visibility:
          $ref: ./examples/CheckPrivateLinkServiceVisibilityByResourceGroup.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckPrivateLinkServiceVisibilityRequest'
        description: The request body of CheckPrivateLinkService API call.
        required: true
      summary: Private link services check private link service visibility by resource group
      x-summary-source: derived
  /subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/autoApprovedPrivateLinkServices:
    get:
      tags:
      - PrivateLinkServices
      operationId: PrivateLinkServices_ListAutoApprovedPrivateLinkServices
      description: Returns all of the private link service ids that can be linked to a Private Endpoint with auto approved in this subscription in this region.
      parameters:
      - name: location
        in: path
        required: true
        description: The location of the domain name.
        schema:
          type: string
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Request successful. Returns all of the private link service ids that can be linked to a Private Endpoint with auto approved in this subscription in this region.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoApprovedPrivateLinkServicesResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      x-ms-examples:
        Get list of private link service id that can be linked to a private end point with auto approved:
          $ref: ./examples/AutoApprovedPrivateLinkServicesGet.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Private link services list auto approved private link services
      x-summary-source: derived
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/locations/{location}/autoApprovedPrivateLinkServices
  : get:
      tags:
      - PrivateLinkServices
      operationId: PrivateLinkServices_ListAutoApprovedPrivateLinkServicesByResourceGroup
      description: Returns all of the private link service ids that can be linked to a Private Endpoint with auto approved in this subscription in this region.
      parameters:
      - name: location
        in: path
        required: true
        description: The location of the domain name.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Request successful. Returns all of the private link service ids that can be linked to a Private Endpoint with auto approved in this subscription in this region.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoApprovedPrivateLinkServicesResult'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      x-ms-examples:
        Get list of private link service id that can be linked to a private end point with auto approved:
          $ref: ./examples/AutoApprovedPrivateLinkServicesResourceGroupGet.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Private link services list auto approved private link services by resource group
      x-summary-source: derived
components:
  schemas:
    PrivateLinkServiceVisibility:
      properties:
        visible:
          type: boolean
          description: Private Link Service Visibility (True/False).
      description: Response for the CheckPrivateLinkServiceVisibility API service call.
    CheckPrivateLinkServiceVisibilityRequest:
      properties:
        privateLinkServiceAlias:
          type: string
          description: The alias of the private link service.
      description: Request body of the CheckPrivateLinkServiceVisibility API service call.
    PrivateLinkServiceListResult:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/PrivateLinkService'
          description: A list of PrivateLinkService resources in a resource group.
        nextLink:
          type: string
          description: The URL to get the next set of results.
          readOnly: true
      description: Response for the ListPrivateLinkService API service call.
    PrivateLinkServiceConnectionState:
      properties:
        status:
          type: string
          description: Indicates whether the connection has been Approved/Rejected/Removed by the owner of the service.
        description:
          type: string
          description: The reason for approval/rejection of the connection.
        actionsRequired:
          type: string
          description: A message indicating if changes on the service provider require any updates on the consumer.
      description: A collection of information about the state of the connection between service consumer and provider.
    PrivateEndpointConnection:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/PrivateEndpointConnectionProperties'
          description: Properties of the private end point connection.
        name:
          type: string
          description: The name of the resource that is unique within a resource group. This name can be used to access the resource.
        type:
          readOnly: true
          type: string
          description: The resource type.
        etag:
          readOnly: true
          type: string
          description: A unique read-only string that changes whenever the resource is updated.
      allOf:
      - $ref: ./network.json#/definitions/SubResource
      description: PrivateEndpointConnection resource.
    PrivateEndpointConnectionListResult:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/PrivateEndpointConnection'
          description: A list of PrivateEndpointConnection resources for a specific private link service.
        nextLink:
          type: string
          description: The URL to get the next set of results.
          readOnly: true
      description: Response for the ListPrivateEndpointConnection API service call.
    AutoApprovedPrivateLinkService:
      properties:
        privateLinkService:
          type: string
          description: The id of the private link service resource.
      description: The information of an AutoApprovedPrivateLinkService.
    ResourceSet:
      properties:
        subscriptions:
          type: array
          items:
            type: string
          description: The list of subscriptions.
      description: The base resource set for visibility and auto-approval.
    PrivateEndpointConnectionProperties:
      properties:
        privateEndpoint:
          readOnly: true
          $ref: ./privateEndpoint.json#/definitions/PrivateEndpoint
          description: The resource of private end point.
        privateLinkServiceConnectionState:
          $ref: '#/components/schemas/PrivateLinkServiceConnectionState'
          description: A collection of information about the state of the connection between service consumer and provider.
        provisioningState:
          readOnly: true
          $ref: ./network.json#/definitions/ProvisioningState
          description: The provisioning state of the private endpoint connection resource.
        linkIdentifier:
          readOnly: true
          type: string
          description: The consumer link id.
        privateEndpointLocation:
          readOnly: true
          type: string
          description: The location of the private endpoint.
      description: Properties of the PrivateEndpointConnectProperties.
    PrivateLinkServiceProperties:
      properties:
        loadBalancerFrontendIpConfigurations:
          type: array
          items:
            $ref: ./loadBalancer.json#/definitions/FrontendIPConfiguration
          description: An array of references to the load balancer IP configurations.
        ipConfigurations:
          type: array
          items:
            $ref: '#/components/schemas/PrivateLinkServiceIpConfiguration'
          description: An array of private link service IP configurations.
        destinationIPAddress:
          readOnly: false
          type: string
          description: The destination IP address of the private link service.
        accessMode:
          type: string
          description: The access mode of the private link service.
          enum:
          - Default
          - Restricted
          x-ms-enum:
            name: AccessMode
            modelAsString: true
            values:
            - name: Default
              value: Default
              description: Allows unrestricted access to the private link service.
            - name: Restricted
              value: Restricted
              description: Limits access to subscriptions which are inside visibility list only.
        networkInterfaces:
          type: array
          readOnly: true
          items:
            $ref: ./networkInterface.json#/definitions/NetworkInterface
          description: An array of references to the network interfaces created for this private link service.
        provisioningState:
          readOnly: true
          $ref: ./network.json#/definitions/ProvisioningState
          description: The provisioning state of the private link service resource.
        privateEndpointConnections:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/PrivateEndpointConnection'
          description: An array of list about connections to the private endpoint.
        visibility:
          allOf:
          - $ref: '#/components/schemas/ResourceSet'
          description: The visibility list of the private link service.
        autoApproval:
          allOf:
          - $ref: '#/components/schemas/ResourceSet'
          description: The auto-approval list of the private link service.
        fqdns:
          type: array
          items:
            type: string
          description: The list of Fqdn.
        alias:
          readOnly: true
          type: string
          description: The alias of the private link service.
        enableProxyProtocol:
          type: boolean
          description: Whether the private link service is enabled for proxy protocol or not.
      description: Properties of the private link service.
    PrivateLinkServiceIpConfiguration:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/PrivateLinkServiceIpConfigurationProperties'
          description: Properties of the private link service ip configuration.
        name:
          type: string
          description: The name of private link service ip configuration.
        etag:
          readOnly: true
          type: string
          description: A unique read-only string that changes whenever the resource is updated.
        type:
          readOnly: true
          type: string
          description: The resource type.
      allOf:
      - $ref: ./network.json#/definitions/SubResource
      description: The private link service ip configuration.
    PrivateLinkService:
      properties:
        extendedLocation:
          $ref: ./network.json#/definitions/ExtendedLocation
          description: The extended location of the load balancer.
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/PrivateLinkServiceProperties'
          description: Properties of the private link service.
        etag:
          readOnly: true
          type: string
          description: A unique read-only string that changes whenever the resource is updated.
      allOf:
      - $ref: ./network.json#/definitions/Resource
      description: Private link service resource.
    AutoApprovedPrivateLinkServicesResult:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/AutoApprovedPrivateLinkService'
          description: An array of auto approved private link service.
        nextLink:
          readOnly: true
          type: string
          description: The URL to get the next set of results.
      description: An array of private link service id that can be linked to a private end point with auto approved.
    PrivateLinkServiceIpConfigurationProperties:
      properties:
        privateIPAddress:
          type: string
          description: The private IP address of the IP configuration.
        privateIPAllocationMethod:
          $ref: ./network.json#/definitions/IPAllocationMethod
          description: The private IP address allocation method.
        subnet:
          $ref: ./virtualNetwork.json#/definitions/Subnet
          description: The reference to the subnet resource.
        primary:
          type: boolean
          description: Whether the ip configuration is primary or not.
        provisioningState:
          readOnly: true
          $ref: ./network.json#/definitions/ProvisioningState
          description: The provisioning state of the private link service IP configuration resource.
        privateIPAddressVersion:
          $ref: ./network.json#/definitions/IPVersion
          description: Whether the specific IP configuration is IPv4 or IPv6. Default is IPv4.
      description: Properties of private link service IP configuration.
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
