openapi: 3.2.0
info:
  title: NetworkManagementClient Private Link Service API
  description: The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.
  version: '2025-03-01'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: PrivateLinkService
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/privateLinkServices/{serviceName}
  : put:
      tags:
      - PrivateLinkService
      operationId: PrivateLinkServices_CreateOrUpdate
      description: Creates or updates an private link service in the specified resource group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: serviceName
        in: path
        required: true
        description: The name of the private link service.
        schema:
          type: string
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Update successful. The operation returns the resulting privateLinkService resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkService'
        '201':
          description: Create successful. The operation returns the resulting privateLinkService resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkService'
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-examples:
        Create private link service:
          $ref: ./examples/PrivateLinkServiceCreate.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateLinkService'
        description: Parameters supplied to the create or update private link service operation.
        required: true
      summary: Private link services create or update
      x-summary-source: derived
components:
  schemas:
    PrivateLinkServiceConnectionState:
      properties:
        status:
          type: string
          description: Indicates whether the connection has been Approved/Rejected/Removed by the owner of the service.
        description:
          type: string
          description: The reason for approval/rejection of the connection.
        actionsRequired:
          type: string
          description: A message indicating if changes on the service provider require any updates on the consumer.
      description: A collection of information about the state of the connection between service consumer and provider.
    PrivateEndpointConnection:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/PrivateEndpointConnectionProperties'
          description: Properties of the private end point connection.
        name:
          type: string
          description: The name of the resource that is unique within a resource group. This name can be used to access the resource.
        type:
          readOnly: true
          type: string
          description: The resource type.
        etag:
          readOnly: true
          type: string
          description: A unique read-only string that changes whenever the resource is updated.
      allOf:
      - $ref: ./network.json#/definitions/SubResource
      description: PrivateEndpointConnection resource.
    ResourceSet:
      properties:
        subscriptions:
          type: array
          items:
            type: string
          description: The list of subscriptions.
      description: The base resource set for visibility and auto-approval.
    PrivateEndpointConnectionProperties:
      properties:
        privateEndpoint:
          readOnly: true
          $ref: ./privateEndpoint.json#/definitions/PrivateEndpoint
          description: The resource of private end point.
        privateLinkServiceConnectionState:
          $ref: '#/components/schemas/PrivateLinkServiceConnectionState'
          description: A collection of information about the state of the connection between service consumer and provider.
        provisioningState:
          readOnly: true
          $ref: ./network.json#/definitions/ProvisioningState
          description: The provisioning state of the private endpoint connection resource.
        linkIdentifier:
          readOnly: true
          type: string
          description: The consumer link id.
        privateEndpointLocation:
          readOnly: true
          type: string
          description: The location of the private endpoint.
      description: Properties of the PrivateEndpointConnectProperties.
    PrivateLinkServiceProperties:
      properties:
        loadBalancerFrontendIpConfigurations:
          type: array
          items:
            $ref: ./loadBalancer.json#/definitions/FrontendIPConfiguration
          description: An array of references to the load balancer IP configurations.
        ipConfigurations:
          type: array
          items:
            $ref: '#/components/schemas/PrivateLinkServiceIpConfiguration'
          description: An array of private link service IP configurations.
        destinationIPAddress:
          readOnly: false
          type: string
          description: The destination IP address of the private link service.
        accessMode:
          type: string
          description: The access mode of the private link service.
          enum:
          - Default
          - Restricted
          x-ms-enum:
            name: AccessMode
            modelAsString: true
            values:
            - name: Default
              value: Default
              description: Allows unrestricted access to the private link service.
            - name: Restricted
              value: Restricted
              description: Limits access to subscriptions which are inside visibility list only.
        networkInterfaces:
          type: array
          readOnly: true
          items:
            $ref: ./networkInterface.json#/definitions/NetworkInterface
          description: An array of references to the network interfaces created for this private link service.
        provisioningState:
          readOnly: true
          $ref: ./network.json#/definitions/ProvisioningState
          description: The provisioning state of the private link service resource.
        privateEndpointConnections:
          readOnly: true
          type: array
          items:
            $ref: '#/components/schemas/PrivateEndpointConnection'
          description: An array of list about connections to the private endpoint.
        visibility:
          allOf:
          - $ref: '#/components/schemas/ResourceSet'
          description: The visibility list of the private link service.
        autoApproval:
          allOf:
          - $ref: '#/components/schemas/ResourceSet'
          description: The auto-approval list of the private link service.
        fqdns:
          type: array
          items:
            type: string
          description: The list of Fqdn.
        alias:
          readOnly: true
          type: string
          description: The alias of the private link service.
        enableProxyProtocol:
          type: boolean
          description: Whether the private link service is enabled for proxy protocol or not.
      description: Properties of the private link service.
    PrivateLinkServiceIpConfiguration:
      properties:
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/PrivateLinkServiceIpConfigurationProperties'
          description: Properties of the private link service ip configuration.
        name:
          type: string
          description: The name of private link service ip configuration.
        etag:
          readOnly: true
          type: string
          description: A unique read-only string that changes whenever the resource is updated.
        type:
          readOnly: true
          type: string
          description: The resource type.
      allOf:
      - $ref: ./network.json#/definitions/SubResource
      description: The private link service ip configuration.
    PrivateLinkService:
      properties:
        extendedLocation:
          $ref: ./network.json#/definitions/ExtendedLocation
          description: The extended location of the load balancer.
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/PrivateLinkServiceProperties'
          description: Properties of the private link service.
        etag:
          readOnly: true
          type: string
          description: A unique read-only string that changes whenever the resource is updated.
      allOf:
      - $ref: ./network.json#/definitions/Resource
      description: Private link service resource.
    PrivateLinkServiceIpConfigurationProperties:
      properties:
        privateIPAddress:
          type: string
          description: The private IP address of the IP configuration.
        privateIPAllocationMethod:
          $ref: ./network.json#/definitions/IPAllocationMethod
          description: The private IP address allocation method.
        subnet:
          $ref: ./virtualNetwork.json#/definitions/Subnet
          description: The reference to the subnet resource.
        primary:
          type: boolean
          description: Whether the ip configuration is primary or not.
        provisioningState:
          readOnly: true
          $ref: ./network.json#/definitions/ProvisioningState
          description: The provisioning state of the private link service IP configuration resource.
        privateIPAddressVersion:
          $ref: ./network.json#/definitions/IPVersion
          description: Whether the specific IP configuration is IPv4 or IPv6. Default is IPv4.
      description: Properties of private link service IP configuration.
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
