openapi: 3.2.0
info:
  title: NetworkManagementClient Private Dns Zone Groups API
  description: The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.
  version: '2025-03-01'
servers:
- url: https://management.azure.com
security:
- azure_auth:
  - user_impersonation
tags:
- name: PrivateDnsZoneGroups
paths:
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/privateEndpoints/{privateEndpointName}/privateDnsZoneGroups/{privateDnsZoneGroupName}
  : delete:
      tags:
      - PrivateDnsZoneGroups
      operationId: PrivateDnsZoneGroups_Delete
      description: Deletes the specified private dns zone group.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: privateEndpointName
        in: path
        required: true
        description: The name of the private endpoint.
        schema:
          type: string
      - name: privateDnsZoneGroupName
        in: path
        required: true
        description: The name of the private dns zone group.
        schema:
          type: string
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        '202':
          description: Accepted and the operation will complete asynchronously.
        '204':
          description: Request successful. Resource does not exist.
        '200':
          description: Delete successful.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: location
      x-ms-examples:
        Delete private dns zone group:
          $ref: ./examples/PrivateEndpointDnsZoneGroupDelete.json
      summary: Private dns zone groups delete
      x-summary-source: derived
    get:
      tags:
      - PrivateDnsZoneGroups
      operationId: PrivateDnsZoneGroups_Get
      description: Gets the private dns zone group resource by specified private dns zone group name.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: privateEndpointName
        in: path
        required: true
        description: The name of the private endpoint.
        schema:
          type: string
      - name: privateDnsZoneGroupName
        in: path
        required: true
        description: The name of the private dns zone group.
        schema:
          type: string
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Request successful. The operation returns the resulting privateDnsZoneGroup resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateDnsZoneGroup'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      x-ms-examples:
        Get private dns zone group:
          $ref: ./examples/PrivateEndpointDnsZoneGroupGet.json
      summary: Private dns zone groups get
      x-summary-source: derived
    put:
      tags:
      - PrivateDnsZoneGroups
      operationId: PrivateDnsZoneGroups_CreateOrUpdate
      description: Creates or updates a private dns zone group in the specified private endpoint.
      parameters:
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - name: privateEndpointName
        in: path
        required: true
        description: The name of the private endpoint.
        schema:
          type: string
      - name: privateDnsZoneGroupName
        in: path
        required: true
        description: The name of the private dns zone group.
        schema:
          type: string
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Update successful. The operation returns the resulting PrivateDnsZoneGroup resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateDnsZoneGroup'
        '201':
          description: Create successful. The operation returns the resulting PrivateDnsZoneGroup resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateDnsZoneGroup'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/CloudError
      x-ms-long-running-operation: true
      x-ms-long-running-operation-options:
        final-state-via: azure-async-operation
      x-ms-examples:
        Create private dns zone group:
          $ref: ./examples/PrivateEndpointDnsZoneGroupCreate.json
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateDnsZoneGroup'
        description: Parameters supplied to the create or update private dns zone group operation.
        required: true
      summary: Private dns zone groups create or update
      x-summary-source: derived
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/privateEndpoints/{privateEndpointName}/privateDnsZoneGroups
  : get:
      tags:
      - PrivateDnsZoneGroups
      operationId: PrivateDnsZoneGroups_List
      description: Gets all private dns zone groups in a private endpoint.
      parameters:
      - name: privateEndpointName
        in: path
        required: true
        description: The name of the private endpoint.
        schema:
          type: string
      - name: resourceGroupName
        in: path
        required: true
        description: The name of the resource group.
        schema:
          type: string
      - $ref: ./network.json#/parameters/ApiVersionParameter
      - $ref: ./network.json#/parameters/SubscriptionIdParameter
      responses:
        '200':
          description: Request successful. The operation returns a list of private dns zone group resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateDnsZoneGroupListResult'
        default:
          description: Error.
          content:
            application/json:
              schema:
                $ref: ./network.json#/definitions/Error
      x-ms-examples:
        List private endpoints in resource group:
          $ref: ./examples/PrivateEndpointDnsZoneGroupList.json
      x-ms-pageable:
        nextLinkName: nextLink
      summary: Private dns zone groups list
      x-summary-source: derived
components:
  schemas:
    PrivateDnsZoneConfig:
      properties:
        name:
          type: string
          description: Name of the resource that is unique within a resource group. This name can be used to access the resource.
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/PrivateDnsZonePropertiesFormat'
          description: Properties of the private dns zone configuration.
      description: PrivateDnsZoneConfig resource.
    PrivateDnsZoneGroup:
      properties:
        name:
          type: string
          description: Name of the resource that is unique within a resource group. This name can be used to access the resource.
        etag:
          readOnly: true
          type: string
          description: A unique read-only string that changes whenever the resource is updated.
        properties:
          x-ms-client-flatten: true
          $ref: '#/components/schemas/PrivateDnsZoneGroupPropertiesFormat'
          description: Properties of the private dns zone group.
      allOf:
      - $ref: ./network.json#/definitions/SubResource
      description: Private dns zone group resource.
    RecordSet:
      properties:
        recordType:
          type: string
          description: Resource record type.
        recordSetName:
          type: string
          description: Recordset name.
        fqdn:
          type: string
          description: Fqdn that resolves to private endpoint ip address.
        provisioningState:
          readOnly: true
          $ref: ./network.json#/definitions/ProvisioningState
          description: The provisioning state of the recordset.
        ttl:
          type: integer
          description: Recordset time to live.
        ipAddresses:
          type: array
          items:
            type: string
          description: The private ip address of the private endpoint.
      description: A collective group of information about the record set information.
    PrivateDnsZoneGroupListResult:
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/PrivateDnsZoneGroup'
          description: A list of private dns zone group resources in a private endpoint.
        nextLink:
          type: string
          description: The URL to get the next set of results.
          readOnly: true
      description: Response for the ListPrivateDnsZoneGroups API service call.
    PrivateDnsZoneGroupPropertiesFormat:
      properties:
        provisioningState:
          readOnly: true
          $ref: ./network.json#/definitions/ProvisioningState
          description: The provisioning state of the private dns zone group resource.
        privateDnsZoneConfigs:
          type: array
          items:
            $ref: '#/components/schemas/PrivateDnsZoneConfig'
          description: A collection of private dns zone configurations of the private dns zone group.
      description: Properties of the private dns zone group.
    PrivateDnsZonePropertiesFormat:
      properties:
        privateDnsZoneId:
          type: string
          description: The resource id of the private dns zone.
        recordSets:
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/RecordSet'
          description: A collection of information regarding a recordSet, holding information to identify private resources.
      description: Properties of the private dns zone configuration resource.
  securitySchemes:
    azure_auth:
      type: oauth2
      flows:
        implicit:
          scopes:
            user_impersonation: impersonate your user account
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
      description: Azure Active Directory OAuth2 Flow.
